---
- name: Set up wireguard server network device
  ansible.builtin.blockinfile:
    path: /etc/systemd/network/50-wireguard.netdev
    marker: '# {mark} SERVER #'
    block: |
      [NetDev]
      Name=wg0
      Kind=wireguard
      Description=WireGuard tunnel

      [WireGuard]
      ListenPort=51820
      PrivateKey={{ wg_key.stdout }}
    create: true
    owner: root
    group: systemd-network
    mode: '640'
  notify: 'restart systemd-networkd'
