[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard

[WireGuard]
PrivateKey={{ wg_key.stdout }}

[WireGuardPeer]
PublicKey={{ wg_server_pub.stdout }}
PresharedKey={{ wg_psk.stdout }}
AllowedIPs=10.200.200.0/24
Endpoint=zaszi.net:51820
PersistentKeepalive=60
